$icon-qq: "\e907";
$icon-menu: "\e901";
$icon-magnifying-glass: "\e906";
$icon-sticky-note: "\e902";
$icon-note-checked: "\e900";
$icon-circle-with-plus: "\e904";
$icon-check: "\e903";
$icon-bubble: "\e96b";
$icon-cross: "\e905";
$icon-cancel-circle: "\ea0d";
$icon-cog: "\e908";
$icon-log-out: "\e909";