<div class="delete-container" data-delete-container>
    {{ include('todo/twigBlocks/profile-popup.html.twig') }}
    <h2 class="h2 headline">Do you really want to delete your account?</h2>
    <form action="#" method="post">
        <button type="submit" class="submit">Yes</button>
    </form>
    {{ include('todo/twigBlocks/button-back-popup.html.twig') }}
</div>