<div class="profile-container">
    <div class="left-side-wrapper">
        <img src="src/pics/<?php echo $_SESSION['user_profile_image']; ?>" alt="profile image">
        <div class="current-level">1</div>
    </div>
    <div class="profile-information">

    </div>
</div>