<section class="progression-content">
    <div class="date-wrapper">
        <div class="day">213</div>
        <div class="month">MN</div>
    </div>
    <div class="content-wrapper">
        <h2 class="headline h2">Today's Tasks</h2>
        <div class="progression-bar"><div class="progressed"></div></div>
        <div class="additional-data-wrapper">
            <div class="done">Done Todo: <span class="doneCounter">1</span></div>
            <div class="todo">Must do: <span class="todoCounter">7</span></div>
        </div>
    </div>
</section>