<section class="progression-content">
    <div class="date-wrapper">
        <div class="day">{{ 'now' | date('d') }}</div>
        <div class="month">{{ 'now' | date('M') }}</div>
    </div>
    <div class="content-wrapper">
        <h2 class="headline h2">Today's Tasks</h2>
        <div class="progression-bar"><div class="progressed"></div></div>
        <div class="additional-data-wrapper">
            <div class="done">Done Todo: <span class="doneCounter">{{ doneTodos|length }}</span></div>
            {% if app.request.get('_route') != 'done_todos' %}
                <div class="todo">Must do: <span class="todoCounter">{{ todos|length }}</span></div>
            {% endif %}
        </div>
    </div>
</section>