.register {
    .button-back,
    .register-button {
        @include default-button-states();
        @include custom-big-button();
        text: {
            transform: capitalize;
        }
        font: {
            size: rem-calc(20);
        }
    }
    .button-back {
        margin: {
            top: rem-calc(-64);
            right: auto;
        }
        padding: rem-calc(7) rem-calc(28);
        background: {
            color: $register-back-button-background-color;
        }
        &:after {
            background: {
                color: $register-back-button-after-background-color;
            }
        }
    }
    .register-button {
        margin: {
            left: auto;
        }
        background: {
            image: linear-gradient(90deg, #0162c8, #55e7fc);
        }
        &:after {
            background: {
                image: linear-gradient(90deg, #0162c8, #55e7fc);
            }
        }
    }
    ul {
        @include reset-list();
        > li {
            color: #d60f0f;
        }
    }
}