<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Todo App" >
    <meta property="og:type" content="website" >
    <meta property="og:description" content="This App gonna be your best friend in evey day journey" >
    <meta property="og:locale" content="pl_PL" >
    <meta property="og:locale:alternate" content="en_GB" >

    <title>{% block title %}Todo App{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('build/main.css') }}">

    <script src="{{ asset('build/runtime.js') }}" defer></script>
    <script src="{{ asset('build/vendor.js') }}" defer></script>
    <script src="{{ asset('build/main.js' ) }}" defer></script>
</head>
<body class="register">
<div class="content-wrapper">
    <section class="section">
        <div class="wrapper">
            <div class="container">
                <div class="inner-wrapper">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script type="text/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('click', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</html>
